header a{
    color: black; 
    text-decoration: none;

}
.heading{
    margin: 30px;
    font-size: x-large;
    color: black;
     
}
header{
    display: flex;
    justify-content: space-evenly;
   
}

.obj{
    display: block;
    width: 700 rem;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-weight: 400px;
}

.self_intro{
    font-size: xx-large;
    margin-top: 50px;
    color: #707070;
    font-weight: 400;
    line-height: 50px;

}
button{
    margin-left: 300px;
    margin-top: 30px;
    background-color: chartreuse;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.projects{
    display: flex;
    margin-top: 20px;
}
div{
    display: block;
}

.first_project{

    height: 500px;
    width: 250px;
    border: 1px,solid,black;
    margin-left: 300px;
    font-size: large;
    font-weight: 400px;
    text-align: justify;

}
.projects1{
    display: flex;
    margin-top: 20px;
}

.second_project{
    border: 1px,solid,black;
    height: 850px;
    width: 310px;
    display: flex;
    margin-top: 80px;
    margin-left: 300px;
    font-size: large;
    font-weight: 400px;
    text-align: justify;

}
.projects2{
    display: flex;
    margin-top: 20px;
}
.third_project{
    border: 1px,solid,black;
    height: 500px;
    width: 250px;
    display: flex;
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 300px;
    font-size: large;
    font-weight: 400px;
    text-align: justify;
}
.card-text{
    margin: 30px;
}

.image{
   margin-left: 300px;
   margin-top: 30px;
   margin-bottom: 80px;
}

.intro{
    font-size: xx-large;
    font-weight: 700;
}
.contact{
    margin-top: 100px;
    font-size: xx-large;
    font-weight: 700;  
}
.discription{
    font-size: xx-large;
    margin-top: 50px;
    color: #707070;
    font-weight: 400;
    line-height: 50px;
}
.content{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}
.toolss{
    width: 170px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
